/* Hero Section Styles */
#hero {
    width: 100%;
    height: 30vh;
}

#hero h1 {
    
}

nav {
    display: flex;
}

/* Why Us Section Styles */
#whyUs {
    width: 40%;
    float: left;
}

/* Call-To-Action Section Styles */
#callToAction {
    width: 600px;
}

/* General styling for grid itemss */
section div[class^='grid-item-'] {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    text-align: center;
}

/* Responsive Design for whyUs section */
@media (max-width: 800px) {
    #whyUs {
        width: 100%;
    }

    #callToAction {
        width: 100%;
    }
}
