header {
    position: fixed;
    top: 0px;
}

header, footer {
    background-color: beige;
}

footer {
    position: fixed;
    bottom: 0px;
}

#copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Defaults */
.mobileFeature {
    display: none; /* hidden */
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
.disappearing {
    display: block; /* visible */
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}

/* Mobile */
@media screen and (max-width: 900px) {
    .mobileFeature {
        display: block;
    }
    .disappearing {
        display: none; 
    }
}

/* desktop */
@media screen and (min-width: 901px) {
    .mobileFeature {
        display: none; 
    }
    .disappearing {
        display: block; 
    }
}


/* Fonts */
body, html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    margin: 20px 0;
}

#copyright {
    font-size: 10px;
}


:root {
    --primary-color: #007bff;  /* Example primary color */
}

a:link {
    text-decoration: none;
    color: var(--primary-color);
}

a:visited {
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

a:focus, a:active {
    color: var(--primary-color);
}
